<div class="container">

<div class="col-md-8">

<div class="list-group">
    <div class="well">

    <% @tweets.each do |tweet| %>
    <div class="list-group-item">

            <h5><%= tweet.body %></h5>
            <small class="muted">
                <em>
                   by
                   <%= tweet.user.username %>

                    <%= time_ago_in_words tweet.created_at %>
                    ago
                    <br>
                </em>
            </small>

        </div>
    <% end %>
  </div>

</div>
</div>
</div>
