<div class="container">

    <%= link_to new_tweet_path do %>
    <h2 class="btn btn-primary btn-lg new_post">Create a New Tweet</h2>
    <% end %>
    <% @tweets.each do |tweet| %>

    <div class="well">
        <small class="muted">
            <em>
                <%= time_ago_in_words tweet.created_at %>
                ago
                <%= tweet.user.username %>
                Tweeted:
                <br>
            </em>
        </small>

        <%= tweet.body %>

    </div>

    <% end %>
</div>
