header {
  background: #2980b9;



  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: space-between;
  align-items: center;

  a, span {
    color: #fff;
    flex: 1;
    text-align: center;
    padding: 20px;

    &:hover {
      color: #2980b9;
      background: #fff;
    }
  }

}
.jumbo {
  height: 100vh; //visual height units
  border: 1px solid #000000;
  background: image_url("bat.png");
  background-size: cover; // scale as the .jumbo grows and shrinks
  background-position: center; // cen
}
.well{
  margin-top: 50px;
  margin-right: 10px;
}
